* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    color: #222;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}

.logo span {
    background: black;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 10px 20px;
}
nav ul li a:hover{
    color: #ffffff;
    background-color: #b14fff;
    opacity: 80%;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth-buttons a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
}

.auth-buttons .signup {
    background: black;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 500;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: url('/static/hello.png') no-repeat center center/cover;
    color: #000;
    border-bottom-left-radius: 9cap;
    border-bottom-right-radius: 9cap;
    height: 80vh; /* full height */
}
.hero h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero p {
    max-width: 750px;
    margin: 0 auto 30px;
    font-size: 15px;
    color: #222;
    line-height: 1.6;
}

.hero img {
    max-width: 90%;
    margin: 20px auto;
    display: block;
}

/* Button */
.cta {
    margin: 20px auto;
    text-align: center;
}

.cta a {
    background-color: #b14fff;
    color: white;
    padding: 14px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.cta a:hover {
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .hero h1 {
        font-size: 24px;
    }
    .hero p {
        font-size: 14px;
    }
}
